.grid-container-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 9fr;
    grid-template-areas: 
        "side-menu navbar"
        "side-menu content";
}

.side-menu {
    grid-area: side-menu;
    background-color: pink;
}

.nav-bar {
    grid-area: navbar;
    background-color: yellow;
}

.content {
    grid-area: content;
    background-color: burlywood;
}